@font-face {
    font-family: 'ClashGrotesk-Variable';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Variable.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Variable.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Extralight';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Extralight.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Extralight.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Light';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Light.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Light.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Regular';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Regular.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Regular.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Medium';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Medium.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Medium.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Semibold';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Semibold.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Bold';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Bold.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Bold.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

/**
 * Début du styling du site
 */

/**
 * Variables
 */

$color-primary: red;
$color-secondary: black;
$color-tertiary: white;

/**
 * Reset
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

/**
 * Racine
 */

:root{
    color: $color-secondary;
    font-family: 'ClashGrotesk-Variable', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p {
    max-width: 60ch;
}

body {
    height: 100svh;
    padding: 0;
    margin: 0;
}

#page-wrapper {
    max-width: 1800px;
    height: 100%;
    padding: 40px 50px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    nav, footer {
        flex-grow: 0;
        flex-shrink: 0;
    }

    section {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
    }
}

nav, footer {
    border-color: $color-secondary;
    border-width: 0px;
    border-style: solid;
}

nav {
    // background-color: blue;
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;

    div {
        flex-grow: 1;
        display: flex;
        justify-content: left;
    }

    div:last-of-type {
        justify-content: right;
    }
}

footer {
    // background-color: purple;
    display: flex;
    justify-content: space-between;
    border-top-width: 1px;
}

.menu-link {
    padding: 5px 0;
}

section {
    // background-color: green;
    display: flex;
}

#contact-modal {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;

    .contact-modal_wrapper {
        background: $color-tertiary;
        padding: 48px;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
        .contact-modal_close {
            margin-right: 0;
            margin-left: auto;
            display: block;
            padding: 0 2px;
            line-height: 1em;
            background-color: $color-primary;
            text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.2);
        }
    
        .contact-modal_link {
            margin-top: 16px;
            display: block;
            cursor: alias;
        }
    }
}

#text-content {
    // background-color: red;
    flex-shrink: 1;
    //min-height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#title-container {
    & > * {
        display: inline;
        font-size: 3rem;
        line-height: 1.1em;
    }

    p {
        font-weight: 200;
        margin-right: 7px;
    }

    h1, h2 {
        font-weight: 400;
    }
}

.bouton-lien {
    display: flex;
    align-items: center;
    gap: 4px;
}

.bouton-lien:has(> .arrow-up-right) {
    align-items: start;

    svg{
        margin-top: 3px;
    }
}

.bouton-github {
    font-size: 1.5rem;
    font-weight: 500;
}

#liste-projets {
    flex-grow: 1;
    padding: 16px;
    padding-right: 0;
    height: auto;
    min-width: max-content;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 48px
}

#liste-projets::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

#liste-projets {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.project-card {
    width: max-content;
    margin-right: 0;
    margin-left: auto;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap: 12px;
    align-items: baseline;

    & > * {
        line-height: 1;
    }
}

.project-card_tech {
    font-weight: 400;
}

.project-card_title {
    font-size: 3rem;
    font-weight: 500;
}

.project-card_date {
    grid-column: 2 / 3;
    justify-self: right;
}

/**
 * Responsive
 */

.show-on-mobile, .flex-on-mobile {
    display: none;
}

@media screen and (max-width: 1280px) {
    #page-wrapper {
        padding: 15px 30px;
    }

    #title-container {
        * {
            font-size: 2rem;
        }
    }

    #liste-projets {
        gap: 32px
    }

    .project-card_title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 850px) {
    .show-on-mobile {
        display: block;
    }

    .flex-on-mobile {
        display: flex;
    }

    #page-wrapper {
        padding: 0 10px 5px;
        flex-direction: column-reverse;
    }

    nav {
        border-bottom-width: 0px;
        border-top-width: 1px;

        div {
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }
    
        div:first-of-type {
            justify-content: left;
        }
    }

    footer {
        display: none;
    }
    #page-wrapper {
        section {
            flex-direction: column;
            overflow-y: scroll;
            gap: 32px;
            padding: 32px 0;

            & > * {
                width: auto;
            }
        }
    }

    #contact-modal {
        .contact-modal_wrapper {
            padding: 24px;
        }
    }

    #text-content {
        width: auto;
    }

    #title-container {
        * {
            font-size: 2rem;
        }
    }

    #liste-projets {
        padding: 0;
        overflow: visible;
    }

    .liste-projets_title {
        font-weight: 200;
        font-size: 2rem;
        margin-top: 16px;
    }

    .project-card {
        margin-right: auto;
        margin-left: 0;
        column-gap: 10px;
        row-gap: 3px;
    }

    .project-card_tech {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .project-card_title {
        font-size: 1.5rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .project-card_date {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: left;
    }
}