@font-face {
    font-family: 'ClashGrotesk-Variable';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Variable.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Variable.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Extralight';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Extralight.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Extralight.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Light';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Light.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Light.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Regular';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Regular.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Regular.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Medium';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Medium.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Medium.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Semibold';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Semibold.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'ClashGrotesk-Bold';
    src: url('../assets/fonts/clash-grotesk/ClashGrotesk-Bold.woff2') format('woff2'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Bold.woff') format('woff'),
         url('../assets/fonts/clash-grotesk/ClashGrotesk-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

/**
 * Début du styling du site
 */

/**
 * Variables
 */

$color-primary: red;
$color-secondary: black;
$color-tertiary: white;

/**
 * Reset
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

/**
 * Racine
 */

:root{
    color: $color-secondary;
    font-family: 'ClashGrotesk-Variable', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p {
    max-width: 60ch;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#page-wrapper {
    max-width: 1800px;
    height: 100%;
    padding: 40px 50px;
    margin: auto;
    display: flex;
    flex-direction: column;

    nav, footer {
        flex-grow: 0;
        flex-shrink: 0;
    }

    section {
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: scroll;
        // overflow: hidden;
    }
}

nav, footer {
    border-color: $color-secondary;
    border-width: 0px;
    border-style: solid;
}

nav {
    // background-color: blue;
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;

    div {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    div:first-of-type {
        justify-content: left;
    }

    div:last-of-type {
        justify-content: right;
    }
}

footer {
    // background-color: purple;
    display: flex;
    justify-content: space-between;
    border-top-width: 1px;
}

.menu-link {
    padding: 5px 0;
}

section {
    // background-color: green;
    display: flex;
}

#text-content {
    // background-color: red;
    min-height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#title-container {
    & > * {
        display: inline;
        font-size: 3rem;
        line-height: 1.1em;
    }

    p {
        font-weight: 200;
    }

    h1, h2 {
        font-weight: 400;
    }
}

.bouton-lien {
    display: flex;
    align-items: center;
    gap: 4px;
}

.bouton-lien:has(> .arrow-up-right) {
    align-items: start;

    svg{
        margin-top: 3px;
    }
}

#liste-projets {
    flex-grow: 1;
    padding: 16px;
    padding-right: 0;
    height: auto;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 48px
}

#liste-projets::-webkit-scrollbar {
    display: none;
}

#liste-projets {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.project-card {
    width: max-content;
    margin-right: 0;
    margin-left: auto;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap: 12px;
    align-items: baseline;

    & > * {
        line-height: 1;
    }
}

.project-card_tech {
    font-weight: 400;
}

.project-card_title {
    font-size: 3rem;
    font-weight: 500;
}

.project-card_date {
    grid-column: 2 / 3;
    justify-self: right;
}